* {
  margin: 0;
  padding: 0;
}

.container {
  width: 20%;
  height: 30vh;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}
h2 {
  color: aliceblue;
  margin-top: 10vh;
}
button {
  margin: 5px;
  cursor: pointer;
  width: 80%;
  height: 5vh;
}
button:hover {
  background-color: red;
  cursor: pointer;
}
